.lecturer {
  height: 100%;
  flex-basis: 70%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #359ef7 #397ebb;
  margin-right: 10px;
}

.lecturer::-webkit-scrollbar {
  width: 11px;
}
.lecturer::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 3px;
}
.lecturer::-webkit-scrollbar-thumb {
  background-color: #359ef7;
  border-radius: 6px;
}

/* html {
  color: rgb(175, 175, 175);
} */
