.lecturer {
  height: 100%;
  flex-basis: 70%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #359ef7 #397ebb;
  margin-right: 10px;
}

.lecturer::-webkit-scrollbar {
  width: 11px;
}
.lecturer::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 3px;
}
.lecturer::-webkit-scrollbar-thumb {
  background-color: #359ef7;
  border-radius: 6px;
}

@media only screen and (max-width: 480px) {
  .lecturer {
    flex-basis: 100%;
    margin-right: 0;
  }

  .lecturer::-webkit-scrollbar {
    display: none;
  }
  .lecturer::-webkit-scrollbar-track {
    display: none;
  }
  .lecturer::-webkit-scrollbar-thumb {
    display: none;
  }
}

@media only screen and (max-width: 765px) {
  .lecturer {
    flex-basis: 100%;
    margin-right: 0;
  }

  .lecturer::-webkit-scrollbar {
    display: none;
  }
  .lecturer::-webkit-scrollbar-track {
    display: none;
  }
  .lecturer::-webkit-scrollbar-thumb {
    display: none;
  }
}

@media only screen and (max-width: 990px) {
  .lecturer {
    flex-basis: 100%;
    margin-right: 0;
  }

  .lecturer::-webkit-scrollbar {
    display: none;
  }
  .lecturer::-webkit-scrollbar-track {
    display: none;
  }
  .lecturer::-webkit-scrollbar-thumb {
    display: none;
  }
}
